@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Quattrocento:wght@400;700&display=swap");
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.hidden, [hidden] {
  display: none !important; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix::before, .clearfix::after {
  content: " ";
  display: table; }

.clearfix::after {
  clear: both; }

@media print {
  *, *::before, *::after {
    background: #fff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

a {
  color: #337799;
  transition: all 0.15s ease-in-out; }
  a:hover, a:active {
    color: #5599bb; }

h2 {
  color: #002244;
  font-size: 20px;
  font-weight: 500; }

h3 {
  color: #002244;
  font-size: 18px;
  font-weight: 500; }

h4 {
  font-size: 16px;
  font-weight: 500; }

p {
  line-height: 26px;
  letter-spacing: 0.5px; }

.ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .ul li {
    margin-bottom: 16px;
    padding-left: 32px; }
    .ul li::before {
      margin-left: -24px;
      margin-right: 16px;
      width: 16px;
      display: inline;
      color: #002244;
      font-size: 22px;
      font-weight: bold;
      vertical-align: middle;
      content: '\2022'; }

ol {
  -webkit-padding-start: 24px;
          padding-inline-start: 24px; }
  ol li {
    padding-left: 12px; }
    ol li::marker {
      color: #002244; }

.svg-primary {
  filter: invert(13%) sepia(33%) saturate(2369%) hue-rotate(183deg) brightness(94%) contrast(106%); }

.svg-light {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(182deg) brightness(102%) contrast(104%); }

html {
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  font-family: 'Noto Sans JP', 'Roboto', sans-serif; }

#root {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  min-width: 1120px; }

#header,
#sidebar {
  position: relative;
  box-sizing: border-box; }
  #header .header__content,
  #header .sidebar__content,
  #sidebar .header__content,
  #sidebar .sidebar__content {
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 560px;
    height: 100%;
    max-height: 100vh; }
  #header .header__content,
  #sidebar .header__content {
    right: 0;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  #header .sidebar__content,
  #sidebar .sidebar__content {
    left: 0; }

#main {
  box-sizing: border-box;
  max-width: 800px; }

#main .main__content,
#sidebar .sidebar__content {
  padding: 64px 48px; }

@media (max-width: 1440px) {
  #root {
    grid-template-columns: 1fr minmax(0, 800px); }
  #header {
    grid-row: 1 / 2 span;
    grid-column: 1 / 1; }
  #main {
    grid-row: 1 / 1;
    grid-column: 2 / 2; }
  #sidebar {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    background-position: center top !important;
    background-size: cover !important;
    background-attachment: unset !important; }
  #main .main__content,
  #sidebar .sidebar__content {
    padding: 48px 32px; } }

#header {
  background-color: #002244;
  color: #fdfdfd; }
  #header .header__logo {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    max-width: 640px;
    z-index: 1;
    padding: 0 5%; }
    #header .header__logo a {
      display: block;
      margin-left: -32px;
      width: calc(100% + 32px);
      height: 150px;
      background: url("static/logo.svg") no-repeat center center;
      background-size: contain;
      z-index: 1;
      box-sizing: border-box;
      filter: drop-shadow(0 0 24px #002244);
      transition: transform 0.2s ease-in-out; }
      #header .header__logo a:hover {
        transform: scale(1.02); }
    #header .header__logo::before {
      position: absolute;
      display: block;
      top: -310px;
      right: 0;
      width: 980px;
      height: 700px;
      background: url("static/main.png") no-repeat center right;
      background-size: 980px 700px;
      content: '';
      z-index: -1; }
  #header .nav {
    margin: 64px 0 0 0;
    z-index: 2; }
    #header .nav ul {
      margin: 0;
      padding: 0 16px 0 0;
      list-style: none; }
      #header .nav ul li:not(:last-of-type) {
        margin-bottom: -12px; }
      #header .nav ul li a {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-left: 16px;
        width: 255px;
        height: 72px;
        color: rgba(253, 253, 253, 0.9);
        font: 500 24px "Noto Sans JP", "Roboto", sans-serif;
        text-align: center;
        text-decoration: none;
        background: url("static/swoosh.png") no-repeat 255px 0;
        background-size: 2805px 72px;
        transition: color 0.05s ease-in-out;
        cursor: pointer;
        text-shadow: 0 0 8px #002244; }
        #header .nav ul li a:not(:last-of-type) {
          margin-bottom: 8px; }
        #header .nav ul li a:hover {
          color: #002244;
          background-position: -2550px 0;
          text-shadow: none;
          -webkit-animation: swoosh 0.15s steps(5) infinite;
                  animation: swoosh 0.15s steps(5) infinite;
          -webkit-animation-iteration-count: 1;
                  animation-iteration-count: 1; }

@-webkit-keyframes swoosh {
  from {
    background-position: 255px 0; }
  to {
    background-position: -2550px 0; } }

@keyframes swoosh {
  from {
    background-position: 255px 0; }
  to {
    background-position: -2550px 0; } }

#main .main__title {
  margin: 0 0 48px;
  font: 600 42px "Quattrocento", serif; }

#main .divider {
  margin: 16px -8px;
  width: calc(100% + 16px);
  padding-bottom: calc(30 / 720 * (100% + 16px));
  background: url("static/underswoosh.png") no-repeat center center;
  background-size: contain;
  opacity: 0.8; }

#main .news-article {
  margin-bottom: 64px; }
  #main .news-article .date {
    margin-bottom: 16px;
    font-size: 14px; }
    #main .news-article .date a {
      color: #55bbcc;
      text-decoration: none; }
  #main .news-article__img {
    margin-bottom: 16px;
    width: 100%; }

#sidebar {
  background: #fafbfc url("static/town_bg.png") no-repeat right bottom;
  background-attachment: fixed; }
  #sidebar .server-info h2 {
    font-family: "Quattrocento", serif; }

.page--account--login .login__reset, .support-button, .page--account--view .details .actions a, .page--account--changemail .changemail__submit, .page--account--changepass .changepass__submit, .page--account--login .login__submit, .page--account--resetpass .resetpass__submit {
  padding: 0 16px 2px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
  background-color: #002244;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s ease-in-out; }
  .page--account--login .login__reset:hover, .support-button:hover, .page--account--view .details .actions a:hover, .page--account--changemail .changemail__submit:hover, .page--account--changepass .changepass__submit:hover, .page--account--login .login__submit:hover, .page--account--resetpass .resetpass__submit:hover {
    background-color: #225577; }
  .page--account--login .login__reset:hover, .support-button:hover, .page--account--view .details .actions a:hover, .page--account--changemail .changemail__submit:hover, .page--account--changepass .changepass__submit:hover, .page--account--login .login__submit:hover, .page--account--resetpass .resetpass__submit:hover, .page--account--login .login__reset:active, .support-button:active, .page--account--view .details .actions a:active, .page--account--changemail .changemail__submit:active, .page--account--changepass .changepass__submit:active, .page--account--login .login__submit:active, .page--account--resetpass .resetpass__submit:active {
    color: #fdfdfd; }
  .page--account--login .login__reset svg, .support-button svg, .page--account--view .details .actions a svg, .page--account--changemail .changemail__submit svg, .page--account--changepass .changepass__submit svg, .page--account--login .login__submit svg, .page--account--resetpass .resetpass__submit svg {
    color: #fdfdfd; }

.page--account--login .login__reset {
  color: #002244;
  background-color: #dbe3eb; }
  .page--account--login .login__reset:hover {
    color: #002244;
    background-color: #e8edf1; }

.support-button {
  height: 48px;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px; }

.support-button {
  position: relative;
  margin: 0 auto;
  height: 48px;
  overflow: hidden; }
  .support-button::before {
    position: absolute;
    top: -4px;
    left: 20px;
    width: 40px;
    height: 92px;
    display: block;
    background: url("static/img/kafra.gif") no-repeat center center;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -moz-crisp-edges;
        image-rendering: pixelated;
    content: ''; }

.page--account--changemail .changemail__error, .page--account--changepass .changepass__error, .page--account--login .login__error, .page--account--create .register__form__error, .page--account--resetpass .resetpass__error {
  margin-bottom: 16px;
  padding: 12px;
  width: 320px;
  background-color: rgba(204, 0, 0, 0.1);
  color: #cc0000;
  box-sizing: border-box;
  border-radius: 4px; }

.page--account--changemail .changemail__email, .page--account--changepass .changepass__currentpass, .page--account--changepass .changepass__newpass, .page--account--changepass .changepass__confirmnewpass, .page--account--login .login__username, .page--account--login .login__password, .page--account--create .register__form__field, .page--account--resetpass .resetpass__userid, .page--account--resetpass .resetpass__email {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .page--account--changemail .changemail__email > label, .page--account--changepass .changepass__currentpass > label, .page--account--changepass .changepass__newpass > label, .page--account--changepass .changepass__confirmnewpass > label, .page--account--login .login__username > label, .page--account--login .login__password > label, .page--account--create .register__form__field > label, .page--account--resetpass .resetpass__userid > label, .page--account--resetpass .resetpass__email > label {
    margin-bottom: 8px;
    color: #225577;
    font-size: 16px; }
  .page--account--changemail .changemail__email > input, .page--account--changepass .changepass__currentpass > input, .page--account--changepass .changepass__newpass > input, .page--account--changepass .changepass__confirmnewpass > input, .page--account--login .login__username > input, .page--account--login .login__password > input, .page--account--create .register__form__field > input, .page--account--resetpass .resetpass__userid > input, .page--account--resetpass .resetpass__email > input {
    padding-left: 8px;
    padding-right: 8px;
    width: 320px;
    height: 40px;
    background: #fafdff;
    font-size: 18px;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    opacity: 0.9;
    border: 1px solid rgba(0, 34, 68, 0.5);
    transition: all 0.15s ease-in-out; }
    .page--account--changemail .changemail__email > input:focus, .page--account--changepass .changepass__currentpass > input:focus, .page--account--changepass .changepass__newpass > input:focus, .page--account--changepass .changepass__confirmnewpass > input:focus, .page--account--login .login__username > input:focus, .page--account--login .login__password > input:focus, .page--account--create .register__form__field > input:focus, .page--account--resetpass .resetpass__userid > input:focus, .page--account--resetpass .resetpass__email > input:focus, .page--account--changemail .changemail__email > input:active, .page--account--changepass .changepass__currentpass > input:active, .page--account--changepass .changepass__newpass > input:active, .page--account--changepass .changepass__confirmnewpass > input:active, .page--account--login .login__username > input:active, .page--account--login .login__password > input:active, .page--account--create .register__form__field > input:active, .page--account--resetpass .resetpass__userid > input:active, .page--account--resetpass .resetpass__email > input:active {
      border: 1px solid #002244;
      opacity: 1; }

[data-error]::after {
  margin-top: 8px;
  display: block;
  color: #ff8080;
  font-size: 12px;
  content: attr(data-error); }

.table, .page--account--view table {
  width: 100%;
  border-collapse: collapse; }
  .table td, .page--account--view table td {
    padding: 12px 0; }
  .table tr, .page--account--view table tr {
    border-bottom: 1px solid #225577; }
    .table tr:last-of-type, .page--account--view table tr:last-of-type {
      border-bottom: 0; }

.page--account--view .card__content > h2:first-of-type {
  display: none; }

.page--account--view .card__content > p[class="red"]:first-of-type {
  margin-top: 0; }

.page--account--view table {
  width: 100%; }
  .page--account--view table th,
  .page--account--view table td {
    text-align: left; }
  .page--account--view table th {
    color: #002244;
    font-weight: 500; }

.page--account--view .details .actions {
  margin: 16px 0; }
  .page--account--view .details .actions a {
    display: inline-flex; }
    .page--account--view .details .actions a:not(:last-of-type) {
      margin-right: 16px; }
    .page--account--view .details .actions a img {
      margin: 1px 8px 0 -4px; }

.page--account--view .characters,
.page--account--view .storage {
  margin-top: 48px; }
  .page--account--view .characters table tr:first-of-type th,
  .page--account--view .storage table tr:first-of-type th {
    padding: 12px 0; }

.page--account--view .storage td {
  padding: 8px 0;
  font-size: 14px; }

.page--account--changemail .changemail__error, .page--account--changepass .changepass__error, .page--account--login .login__error, .page--account--create .register__form__error, .page--account--resetpass .resetpass__error {
  margin-bottom: 16px;
  padding: 12px;
  width: 320px;
  background-color: rgba(204, 0, 0, 0.1);
  color: #cc0000;
  box-sizing: border-box;
  border-radius: 4px; }

.page--account--changemail .changemail__email, .page--account--changepass .changepass__currentpass, .page--account--changepass .changepass__newpass, .page--account--changepass .changepass__confirmnewpass, .page--account--login .login__username, .page--account--login .login__password, .page--account--create .register__form__field, .page--account--resetpass .resetpass__userid, .page--account--resetpass .resetpass__email {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .page--account--changemail .changemail__email > label, .page--account--changepass .changepass__currentpass > label, .page--account--changepass .changepass__newpass > label, .page--account--changepass .changepass__confirmnewpass > label, .page--account--login .login__username > label, .page--account--login .login__password > label, .page--account--create .register__form__field > label, .page--account--resetpass .resetpass__userid > label, .page--account--resetpass .resetpass__email > label {
    margin-bottom: 8px;
    color: #225577;
    font-size: 16px; }
  .page--account--changemail .changemail__email > input, .page--account--changepass .changepass__currentpass > input, .page--account--changepass .changepass__newpass > input, .page--account--changepass .changepass__confirmnewpass > input, .page--account--login .login__username > input, .page--account--login .login__password > input, .page--account--create .register__form__field > input, .page--account--resetpass .resetpass__userid > input, .page--account--resetpass .resetpass__email > input {
    padding-left: 8px;
    padding-right: 8px;
    width: 320px;
    height: 40px;
    background: #fafdff;
    font-size: 18px;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    opacity: 0.9;
    border: 1px solid rgba(0, 34, 68, 0.5);
    transition: all 0.15s ease-in-out; }
    .page--account--changemail .changemail__email > input:focus, .page--account--changepass .changepass__currentpass > input:focus, .page--account--changepass .changepass__newpass > input:focus, .page--account--changepass .changepass__confirmnewpass > input:focus, .page--account--login .login__username > input:focus, .page--account--login .login__password > input:focus, .page--account--create .register__form__field > input:focus, .page--account--resetpass .resetpass__userid > input:focus, .page--account--resetpass .resetpass__email > input:focus, .page--account--changemail .changemail__email > input:active, .page--account--changepass .changepass__currentpass > input:active, .page--account--changepass .changepass__newpass > input:active, .page--account--changepass .changepass__confirmnewpass > input:active, .page--account--login .login__username > input:active, .page--account--login .login__password > input:active, .page--account--create .register__form__field > input:active, .page--account--resetpass .resetpass__userid > input:active, .page--account--resetpass .resetpass__email > input:active {
      border: 1px solid #002244;
      opacity: 1; }

[data-error]::after {
  margin-top: 8px;
  display: block;
  color: #ff8080;
  font-size: 12px;
  content: attr(data-error); }

.page--account--changemail .changemail {
  margin-bottom: 32px; }
  .page--account--changemail .changemail__email small {
    margin-top: 8px; }

.page--account--changemail .changemail__error, .page--account--changepass .changepass__error, .page--account--login .login__error, .page--account--create .register__form__error, .page--account--resetpass .resetpass__error {
  margin-bottom: 16px;
  padding: 12px;
  width: 320px;
  background-color: rgba(204, 0, 0, 0.1);
  color: #cc0000;
  box-sizing: border-box;
  border-radius: 4px; }

.page--account--changemail .changemail__email, .page--account--changepass .changepass__currentpass, .page--account--changepass .changepass__newpass, .page--account--changepass .changepass__confirmnewpass, .page--account--login .login__username, .page--account--login .login__password, .page--account--create .register__form__field, .page--account--resetpass .resetpass__userid, .page--account--resetpass .resetpass__email {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .page--account--changemail .changemail__email > label, .page--account--changepass .changepass__currentpass > label, .page--account--changepass .changepass__newpass > label, .page--account--changepass .changepass__confirmnewpass > label, .page--account--login .login__username > label, .page--account--login .login__password > label, .page--account--create .register__form__field > label, .page--account--resetpass .resetpass__userid > label, .page--account--resetpass .resetpass__email > label {
    margin-bottom: 8px;
    color: #225577;
    font-size: 16px; }
  .page--account--changemail .changemail__email > input, .page--account--changepass .changepass__currentpass > input, .page--account--changepass .changepass__newpass > input, .page--account--changepass .changepass__confirmnewpass > input, .page--account--login .login__username > input, .page--account--login .login__password > input, .page--account--create .register__form__field > input, .page--account--resetpass .resetpass__userid > input, .page--account--resetpass .resetpass__email > input {
    padding-left: 8px;
    padding-right: 8px;
    width: 320px;
    height: 40px;
    background: #fafdff;
    font-size: 18px;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    opacity: 0.9;
    border: 1px solid rgba(0, 34, 68, 0.5);
    transition: all 0.15s ease-in-out; }
    .page--account--changemail .changemail__email > input:focus, .page--account--changepass .changepass__currentpass > input:focus, .page--account--changepass .changepass__newpass > input:focus, .page--account--changepass .changepass__confirmnewpass > input:focus, .page--account--login .login__username > input:focus, .page--account--login .login__password > input:focus, .page--account--create .register__form__field > input:focus, .page--account--resetpass .resetpass__userid > input:focus, .page--account--resetpass .resetpass__email > input:focus, .page--account--changemail .changemail__email > input:active, .page--account--changepass .changepass__currentpass > input:active, .page--account--changepass .changepass__newpass > input:active, .page--account--changepass .changepass__confirmnewpass > input:active, .page--account--login .login__username > input:active, .page--account--login .login__password > input:active, .page--account--create .register__form__field > input:active, .page--account--resetpass .resetpass__userid > input:active, .page--account--resetpass .resetpass__email > input:active {
      border: 1px solid #002244;
      opacity: 1; }

[data-error]::after {
  margin-top: 8px;
  display: block;
  color: #ff8080;
  font-size: 12px;
  content: attr(data-error); }

.page--account--changepass .changepass {
  margin-bottom: 32px; }
  .page--account--changepass .changepass__currentpass small, .page--account--changepass .changepass__newpass small, .page--account--changepass .changepass__confirmnewpass small {
    margin-top: 8px; }

.page--account--changemail .changemail__error, .page--account--changepass .changepass__error, .page--account--login .login__error, .page--account--create .register__form__error, .page--account--resetpass .resetpass__error {
  margin-bottom: 16px;
  padding: 12px;
  width: 320px;
  background-color: rgba(204, 0, 0, 0.1);
  color: #cc0000;
  box-sizing: border-box;
  border-radius: 4px; }

.page--account--changemail .changemail__email, .page--account--changepass .changepass__currentpass, .page--account--changepass .changepass__newpass, .page--account--changepass .changepass__confirmnewpass, .page--account--login .login__username, .page--account--login .login__password, .page--account--create .register__form__field, .page--account--resetpass .resetpass__userid, .page--account--resetpass .resetpass__email {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .page--account--changemail .changemail__email > label, .page--account--changepass .changepass__currentpass > label, .page--account--changepass .changepass__newpass > label, .page--account--changepass .changepass__confirmnewpass > label, .page--account--login .login__username > label, .page--account--login .login__password > label, .page--account--create .register__form__field > label, .page--account--resetpass .resetpass__userid > label, .page--account--resetpass .resetpass__email > label {
    margin-bottom: 8px;
    color: #225577;
    font-size: 16px; }
  .page--account--changemail .changemail__email > input, .page--account--changepass .changepass__currentpass > input, .page--account--changepass .changepass__newpass > input, .page--account--changepass .changepass__confirmnewpass > input, .page--account--login .login__username > input, .page--account--login .login__password > input, .page--account--create .register__form__field > input, .page--account--resetpass .resetpass__userid > input, .page--account--resetpass .resetpass__email > input {
    padding-left: 8px;
    padding-right: 8px;
    width: 320px;
    height: 40px;
    background: #fafdff;
    font-size: 18px;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    opacity: 0.9;
    border: 1px solid rgba(0, 34, 68, 0.5);
    transition: all 0.15s ease-in-out; }
    .page--account--changemail .changemail__email > input:focus, .page--account--changepass .changepass__currentpass > input:focus, .page--account--changepass .changepass__newpass > input:focus, .page--account--changepass .changepass__confirmnewpass > input:focus, .page--account--login .login__username > input:focus, .page--account--login .login__password > input:focus, .page--account--create .register__form__field > input:focus, .page--account--resetpass .resetpass__userid > input:focus, .page--account--resetpass .resetpass__email > input:focus, .page--account--changemail .changemail__email > input:active, .page--account--changepass .changepass__currentpass > input:active, .page--account--changepass .changepass__newpass > input:active, .page--account--changepass .changepass__confirmnewpass > input:active, .page--account--login .login__username > input:active, .page--account--login .login__password > input:active, .page--account--create .register__form__field > input:active, .page--account--resetpass .resetpass__userid > input:active, .page--account--resetpass .resetpass__email > input:active {
      border: 1px solid #002244;
      opacity: 1; }

[data-error]::after {
  margin-top: 8px;
  display: block;
  color: #ff8080;
  font-size: 12px;
  content: attr(data-error); }

.page--account--login .login {
  margin: 0 0 32px !important;
  padding: 0 !important; }
  .page--account--login .login > form {
    width: 320px; }
  .page--account--login .login__error {
    display: block; }
  .page--account--login .login__username, .page--account--login .login__password {
    margin-top: 0; }
    .page--account--login .login__username label, .page--account--login .login__password label {
      position: unset;
      padding: unset;
      background-color: unset;
      font-weight: 400; }
  .page--account--login .login__actions {
    display: flex;
    flex-direction: row; }
  .page--account--login .login__submit {
    margin-right: 16px; }

.page--account--changemail .changemail__error, .page--account--changepass .changepass__error, .page--account--login .login__error, .page--account--create .register__form__error, .page--account--resetpass .resetpass__error {
  margin-bottom: 16px;
  padding: 12px;
  width: 320px;
  background-color: rgba(204, 0, 0, 0.1);
  color: #cc0000;
  box-sizing: border-box;
  border-radius: 4px; }

.page--account--changemail .changemail__email, .page--account--changepass .changepass__currentpass, .page--account--changepass .changepass__newpass, .page--account--changepass .changepass__confirmnewpass, .page--account--login .login__username, .page--account--login .login__password, .page--account--create .register__form__field, .page--account--resetpass .resetpass__userid, .page--account--resetpass .resetpass__email {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .page--account--changemail .changemail__email > label, .page--account--changepass .changepass__currentpass > label, .page--account--changepass .changepass__newpass > label, .page--account--changepass .changepass__confirmnewpass > label, .page--account--login .login__username > label, .page--account--login .login__password > label, .page--account--create .register__form__field > label, .page--account--resetpass .resetpass__userid > label, .page--account--resetpass .resetpass__email > label {
    margin-bottom: 8px;
    color: #225577;
    font-size: 16px; }
  .page--account--changemail .changemail__email > input, .page--account--changepass .changepass__currentpass > input, .page--account--changepass .changepass__newpass > input, .page--account--changepass .changepass__confirmnewpass > input, .page--account--login .login__username > input, .page--account--login .login__password > input, .page--account--create .register__form__field > input, .page--account--resetpass .resetpass__userid > input, .page--account--resetpass .resetpass__email > input {
    padding-left: 8px;
    padding-right: 8px;
    width: 320px;
    height: 40px;
    background: #fafdff;
    font-size: 18px;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    opacity: 0.9;
    border: 1px solid rgba(0, 34, 68, 0.5);
    transition: all 0.15s ease-in-out; }
    .page--account--changemail .changemail__email > input:focus, .page--account--changepass .changepass__currentpass > input:focus, .page--account--changepass .changepass__newpass > input:focus, .page--account--changepass .changepass__confirmnewpass > input:focus, .page--account--login .login__username > input:focus, .page--account--login .login__password > input:focus, .page--account--create .register__form__field > input:focus, .page--account--resetpass .resetpass__userid > input:focus, .page--account--resetpass .resetpass__email > input:focus, .page--account--changemail .changemail__email > input:active, .page--account--changepass .changepass__currentpass > input:active, .page--account--changepass .changepass__newpass > input:active, .page--account--changepass .changepass__confirmnewpass > input:active, .page--account--login .login__username > input:active, .page--account--login .login__password > input:active, .page--account--create .register__form__field > input:active, .page--account--resetpass .resetpass__userid > input:active, .page--account--resetpass .resetpass__email > input:active {
      border: 1px solid #002244;
      opacity: 1; }

[data-error]::after {
  margin-top: 8px;
  display: block;
  color: #ff8080;
  font-size: 12px;
  content: attr(data-error); }

.page--account--create .register {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: stretch; }
  .page--account--create .register__form, .page--account--create .register__guidelines {
    flex-grow: 1;
    flex-basis: 0; }
  .page--account--create .register__form {
    margin-right: 32px; }
    .page--account--create .register__form__field--gender .options {
      display: flex;
      flex-direction: row; }
      .page--account--create .register__form__field--gender .options label {
        position: relative;
        width: 152px;
        height: 40px;
        display: inline-flex;
        cursor: pointer; }
        .page--account--create .register__form__field--gender .options label:not(:last-of-type) {
          margin-right: 16px; }
        .page--account--create .register__form__field--gender .options label::before {
          position: absolute;
          top: 0;
          width: 40px;
          height: 40px;
          display: block;
          background-repeat: no-repeat;
          background-position: center center;
          -ms-interpolation-mode: nearest-neighbor;
              image-rendering: -moz-crisp-edges;
              image-rendering: pixelated;
          content: ''; }
        .page--account--create .register__form__field--gender .options label:nth-child(1)::before {
          left: 32px;
          background-image: url("static/male.gif"); }
        .page--account--create .register__form__field--gender .options label:nth-child(2)::before {
          left: 24px;
          background-image: url("static/female.gif"); }
      .page--account--create .register__form__field--gender .options input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer; }
      .page--account--create .register__form__field--gender .options span {
        width: 100%;
        height: 100%;
        padding-left: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #002244;
        color: #fdfdfd;
        font-weight: 500;
        transition: all 0.15s ease-in-out;
        box-sizing: border-box;
        border-radius: 4px; }
        .page--account--create .register__form__field--gender .options span:hover {
          background-color: #225577; }
      .page--account--create .register__form__field--gender .options input:checked ~ span {
        background-color: #55bbcc;
        color: #fdfdfd; }
    .page--account--create .register__form__field--birthdate .date-field {
      font-size: 0; }
      .page--account--create .register__form__field--birthdate .date-field * {
        font-size: 16px; }
      .page--account--create .register__form__field--birthdate .date-field select {
        padding: 0 8px;
        height: 36px;
        box-sizing: border-box;
        outline: 0;
        border-radius: 4px; }
        .page--account--create .register__form__field--birthdate .date-field select:not(:last-child) {
          margin-right: 8px; }
    .page--account--create .register__form__submit {
      width: 320px;
      height: 40px;
      background-color: #002244;
      color: #fdfdfd;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      border: 0;
      border-radius: 4px;
      cursor: pointer; }
  .page--account--create .register__guidelines h3 {
    margin-top: 0; }

.page--account--changemail .changemail__error, .page--account--changepass .changepass__error, .page--account--login .login__error, .page--account--create .register__form__error, .page--account--resetpass .resetpass__error {
  margin-bottom: 16px;
  padding: 12px;
  width: 320px;
  background-color: rgba(204, 0, 0, 0.1);
  color: #cc0000;
  box-sizing: border-box;
  border-radius: 4px; }

.page--account--changemail .changemail__email, .page--account--changepass .changepass__currentpass, .page--account--changepass .changepass__newpass, .page--account--changepass .changepass__confirmnewpass, .page--account--login .login__username, .page--account--login .login__password, .page--account--create .register__form__field, .page--account--resetpass .resetpass__userid, .page--account--resetpass .resetpass__email {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column; }
  .page--account--changemail .changemail__email > label, .page--account--changepass .changepass__currentpass > label, .page--account--changepass .changepass__newpass > label, .page--account--changepass .changepass__confirmnewpass > label, .page--account--login .login__username > label, .page--account--login .login__password > label, .page--account--create .register__form__field > label, .page--account--resetpass .resetpass__userid > label, .page--account--resetpass .resetpass__email > label {
    margin-bottom: 8px;
    color: #225577;
    font-size: 16px; }
  .page--account--changemail .changemail__email > input, .page--account--changepass .changepass__currentpass > input, .page--account--changepass .changepass__newpass > input, .page--account--changepass .changepass__confirmnewpass > input, .page--account--login .login__username > input, .page--account--login .login__password > input, .page--account--create .register__form__field > input, .page--account--resetpass .resetpass__userid > input, .page--account--resetpass .resetpass__email > input {
    padding-left: 8px;
    padding-right: 8px;
    width: 320px;
    height: 40px;
    background: #fafdff;
    font-size: 18px;
    outline: 0;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    opacity: 0.9;
    border: 1px solid rgba(0, 34, 68, 0.5);
    transition: all 0.15s ease-in-out; }
    .page--account--changemail .changemail__email > input:focus, .page--account--changepass .changepass__currentpass > input:focus, .page--account--changepass .changepass__newpass > input:focus, .page--account--changepass .changepass__confirmnewpass > input:focus, .page--account--login .login__username > input:focus, .page--account--login .login__password > input:focus, .page--account--create .register__form__field > input:focus, .page--account--resetpass .resetpass__userid > input:focus, .page--account--resetpass .resetpass__email > input:focus, .page--account--changemail .changemail__email > input:active, .page--account--changepass .changepass__currentpass > input:active, .page--account--changepass .changepass__newpass > input:active, .page--account--changepass .changepass__confirmnewpass > input:active, .page--account--login .login__username > input:active, .page--account--login .login__password > input:active, .page--account--create .register__form__field > input:active, .page--account--resetpass .resetpass__userid > input:active, .page--account--resetpass .resetpass__email > input:active {
      border: 1px solid #002244;
      opacity: 1; }

[data-error]::after {
  margin-top: 8px;
  display: block;
  color: #ff8080;
  font-size: 12px;
  content: attr(data-error); }

.page--account--resetpass .resetpass {
  margin-bottom: 32px; }
  .page--account--resetpass .resetpass__userid small, .page--account--resetpass .resetpass__email small {
    margin-top: 8px; }
